# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#Raven data and log folders
Data
Logs
Tenants
*.log

# Resharper, User Settings, and other cache files
*resharper.user
*.suo
*.sln.cache
_ReSharper.*/
*.user
*.dotCover
*.DS_Store

packages